@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif !important   ;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

body {
  background-color: #3e6ffc !important;
}

.blueLightContainer {
  padding: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 10px;
  box-shadow: rgb(43, 43, 44, 0.8) 0 0 10px;
  background-color: #dde6ff;
}

.whiteContainer {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-button {
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 12rem;
  background-color: #dde6ff;
  height: 12rem;
  border-width: 0.15rem;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  align-items: center;
  margin-bottom: 15px;
}

.select-button:hover {
  background-position: 100% 0;
  cursor: pointer;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  transition: all 0.5s;
  box-shadow: 6px 4px 5px #3e6ffc;
}

.select-button img {
  width: 50px;
}

.menu {
  display: none;
}

.menu a {
  position: relative;
  list-style: none;
}

.menu a li {
  border-bottom: 4px solid transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 200ms;
  font-size: 1.2em;
  font-weight: 500;
  color: #3d3d3d;
  margin: 0px 15px;
  text-align: center;
  font-size: 17px;
}

.menu a li:hover {
  border-bottom: 4px solid #3e6ffc;
}

.none {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3px;
  margin-bottom: 3px;
}

#myAccount li {
  color: #ffffff;
  font-weight: 600;
  width: 200px;
  display: flex;
}

#options {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 500;
  color: #3d3d3d;
}

#logo {
  display: none;
}

@media (min-width: 800px) {
  body {
    height: 100vh;
    overflow-y: hidden!important;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 60px)!important;
  }

  .whiteContainer {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

  .select-button {
    margin: 20px;
  }

  .menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .list {
    position: absolute;
    margin-top: 30px;
  }

  #logo {
    display: flex;
    width: 40px;
  }
}
