@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
    height: 100%;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    }

.main{

    margin:auto;
}

.body {
    height: 85vh;
    width: 100%;
    margin: auto;
}


.top img{
      display: block;
      width:10%;
      height:10%;
      margin-left: auto;
      margin-right: auto;
  }

.top {
      text-align: center;
      display: flex;
      flex-direction: row;
      margin: auto;
      margin-left: auto;
  }

.background{
    height: 100%;
    width: 100%;
    background-color: #DDE6FF;
    border-radius: 25px;
    opacity: 0.8;
    padding-bottom: 2%;
}

.whitebg{
    height: 91%;
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 25px;
}

.financeiro{
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titulo{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 21%;
    padding-top: 1.5%;
}

.grafico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pie {
    width: 73vh;
    padding-left: 5%;
  }

  .bar{
    width: 130vh;
    padding-right: 5%;
  }